<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    
  <div class="left-block"></div>
  <div class="right-block"></div>
  <%- body  %>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>

</body>
<!-- by Mark Egan 09/04/18 -->
</html>