<title>Hello!</title>
<div class="centered">
        <div class="social-media-container invisible">
                <a href="https://instagram.com/mark._egan" target="_blank" class="social-media">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://snapchat.com/add/markegan1" target="_blank" class="social-media">
                    <i class="fa fa-snapchat"></i>
                </a>
                <a href="https://github.com/markegan1" target="_blank" class="social-media" >
                    <i class="fa fa-github"></i>
                </a>        
                <a href="https://twitch.tv/markyiscool" target="_blank" class="social-media" >
                    <i class="fa fa-twitch"></i>
                </a>
                <a href="https://steamcommunity.com/id/markyiscool" target="_blank" class="social-media" >
                    <i class="fa fa-steam"></i>
                </a>
        </div>  
    </div>

<div class="namebox">
    <a href="#" class="link invisible">ABOUT   </a>
    <span class="name" style="float:center"><b>MARK</b></span>
    <a href="https://github.com/markegan1" target="_blank" class="link invisible projects">'S PROJECTS</a>
</div>

