

<div class="namebox"> 
        <span class="name projects-title" style="font-size: 2em"><b>My projects are probably on github - I'll take you there.</b></span>
</div>
<script>
    setTimeout(function(){window.location.replace('https://github.com/markegan1')},3000)
</script>